---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

type Props = CollectionEntry<'notes'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
const allPosts = await getCollection('notes');
const posts = allPosts
  .sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate))

import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
const { slug } = Astro.params;

import "../styles/theme.css";
import "../styles/posts.css";
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#3B3B3B"> <!-- This should match the top of the gradient -->
		<title>Benjamin Lucas Searle</title>
		<script src="https://unpkg.com/@phosphor-icons/web"></script>
	  </head>
  <body>
	<div class="site-container">
		<Header />
		<div class="app-container">
            <div class="sidebar">
				<div class="posts-container">
					<a href={`/notes`} >
						<p style="padding-left: 12px; font-weight: 500; font-size: 20px;"> Notes </p>
					</a>
					{posts.map(post => (
						<a href={`/${post.slug}`} class={`post-item ${post.slug === slug ? 'active' : ''}`}  key={post.slug}>
							<div class="post-text-block">
								<div class="post-title">{post.data.title}</div>
								<div class="post-subtitle">{post.data.description}</div>
							</div>
						</a>
					  ))}
				</div>
            </div>
            <div class="post-content-container">
				<div class="post-content-toolbar">
				<div class="post-content-nav">
					<a href="/notes">
						<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 256 256"><path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></svg>
						<p>Notes</p>
					</a>
					</div>
					<p class="date"><i>Last updated: {new Date(pubDate).toLocaleDateString()}</i></p>
					<div class="substack-button">
						<a href="https://benjibo.substack.com">
							<p>Read on Substack</p>
							<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 448 511.471"><path d="M0 0h448v62.804H0V0zm0 229.083h448v282.388L223.954 385.808 0 511.471V229.083zm0-114.542h448v62.804H0v-62.804z"></path></svg>
						</a>
					</div>
				</div>
				<div class="post-content">
					<h1>{title}</h1>
					<slot />
					<div style="width: 100%; margin-top: 40px; margin-bottom: 80px; border: 1px solid var(--layer-3-trim); background: var(--layer-3); border-radius: 20px; align-items: center;">
						<p style="padding-left: 12px; padding-right: 12px; color: #FFF; text-align: center">I don't write on a schedule, but if you want to be notified when something new does appear there's a signup below!</p>
						<div style=" text-align: end;">
						<!-- <div id="custom-substack-embed"></div> -->
							<div style="display: block; width: 100%; align-items: end;">
								<iframe src="https://benjibo.substack.com/embed" height="140" style="border-radius: 20px; width: 100%; display: flex; text-align: center;" frameborder="0" scrolling="no"></iframe>
							</div>
					  </div>
					</div>
				</div>
      </div>
		</div>
	</div>
  </body>
</html>

<style>
	/* html {
		background: #3b3b3b;
		background: linear-gradient(0deg, #3b3b3b 0%, #3b3b3b 50%, #1f1f1f 50%, #1f1f1f 100%);
	}

	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		color: #FFF;
	}

	body {
		color: #FFF;
		font-family: 'Outfit', sans-serif;
		font-weight: 200;
	}

	p {
		font-weight: 200;
	}

	p strong, p b {
  		font-weight: 500;
	} */

	a {
		font-weight: 500;
		text-decoration: none;
		color: #FFF;
	}

	.site-container {
		min-height: 100%; /* Allows the container to grow with content */
		width: 100vw;
		background-color: var(--layer-1);
		display: flex;
		flex-direction: column;
		justify-content: center; /* Centers tile-grid horizontally */
		align-items: center; /* Centers tile-grid vertically */
	}

	.app-container {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		width: 100vw;
		height: calc(100vh - 40px); /* Adjust height to account for the header */
		border-top: 1px solid var(--layer-3-trim);
	}

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 300px;
		flex-shrink: 0; /* Prevent the sidebar from shrinking */
        border-right: 1px solid var(--layer-3-trim);
		overflow-y: auto;
		max-height: 100%;
    }

	.posts-container {
  /* background-color: #3B3B3B; */
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	gap: 0px;
}

.post-content-container {
	padding: 12px 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
	gap: 4px;
	flex-grow:1;
	overflow-y: auto; /* Make post content scrollable */
    max-height: 100%; /* Ensure it doesn’t exceed the height of its container */
}

.post-content-nav {
	display: none;
}

.post-content-nav p {
	padding: 0px;
	margin: 0px;
}

.post-content-nav a {
		fill: var(--text-primary);
		padding: 12px 16px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 8px;
		font-size: 14px;
	}

	.date {
		color: var(--text-tertiary);
	}

.post-content-toolbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.substack-button {
	display: flex;
	flex-direction: row;
	font-size: 16px;
}
.substack-button p {
	padding: 0px;
	margin: 0px;
}
	.substack-button a {
		fill: var(--text-secondary);
		padding: 12px 16px;
		border-radius: 100px;
		background: var(--layer-2);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 8px;
		font-size: 14px;
	}

	.substack-button a:hover {
		fill: #FF681A;
		background: var(--layer-3);
	}

.post-content {
	max-width: 800px;
	padding-left: 24px;
	padding-left: 24px;
	line-height: 1.6rem;
	letter-spacing: 0.32px;
}

.post-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.post-item {
    display: flex;
    padding: 10px 12px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #00000000;
}

.post-item.active {
    background-color: var(--notes-accent-secondary); /* Same as hover */
	border: 1px solid var(--notes-accent);
    /* You can add more styles like border, font-weight, etc. */
}
.post-item.active:hover {
    background-color: var(--notes-accent-tertiary); /* Same as hover */
	border: 1px solid var(--notes-accent);
	box-shadow: 0px 1px 8px 0px var(--layer-3-shadow);
}

.post-item:hover {
  background-color: var(--layer-3);
  border: 1px solid var(--layer-3-trim);
  box-shadow: 0px 1px 8px 0px var(--layer-3-shadow);
}

.post-title {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 500;
}

.post-subtitle {
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
    color: var(--text-secondary);
}

@media (max-width: 1000px) {
    .app-container {
        flex-direction: column;
    }

    .sidebar {
        display: none;
    }

    .post-content-container {
   	display: flex;
   	flex-direction: column;
   	align-items: center;
    	align-content: center;
    	padding: 0px;
    }

    .post-content-toolbar {
        padding-top: 8px;
    }
    .substack-button {
        padding-right: 8px;
    }

    .post-content {
    	max-width: 800px;
    	padding-top: 0px;
      padding-left: 24px;
      padding-right: 24px;
    }

    .post-content-nav {
        display: flex;
       	flex-direction: row;
        font-size: 16px;
    }
}

@media (max-width: 700px) {
	.substack-button {
		display: none;
	}

	.post-content-nav a{
		padding: 0px;
		margin: 0px;
	}

	.date {
		margin-right: 8px;
	}

	.post-content {
  	padding-left: 8px;
    padding-right: 8px;
	}
}
</style>
